
img {
    width: 25em;
    padding: 2em;
    padding-left: 10em;
}
p {
    font-size: x-large;
    padding-left: 10em;
}
h1 {
    font-size: 4em;
    font-family: fantasy;
    font-weight: lighter;
    padding-left: 3.7em;
}


